@model GameON.Web.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VideoGameId" class="control-label"></label>
                <select asp-for="VideoGameId" asp-items="Model.VideoGames" class="form-control"></select>
                <span asp-validation-for="VideoGameId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>


            <img src="@Model.PicturePath" style="width:200px; max-width: 100%; height: auto;" />

            <div class="form-group">
                <label asp-for="PictureFile" class="control-label"></label>
                <input asp-for="PictureFile" class="form-control" type="file" />
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ChangePasswordMVC" class="btn btn-warning">Change Password</a>
            </div>
        </form>
    </div>
</div>

<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
